# NodeJS ignores based on https://github.com/github/gitignore/blob/master/Node.gitignore
# Modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage/

# Source maps
dist/*.js.map

# Images used by respository
images/

# TypeScript source code
src/

# Tests
test/

# dotfiles
.editorconfig
.eslintrc.json
.gitignore
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
gulpfile.js
tsconfig.json
tslint.json
yarn.lock

# Typescript
.tscache/

# VSCode ignores based on https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/
